/* -------------------------------------------------
 *  Example Nextflow config file for UPPMAX (milou)
 * -------------------------------------------------
 * Defines reference genomes, using iGenome paths
 * Should be saved either with Nextflow installation or
 * as file ~/.nextflow/config
 */


process {
  executor = 'local'
  cpus = { 1 * task.attempt }
  memory = { 8.GB * task.attempt }
  time = { 2.h * task.attempt }
  errorStrategy = { task.exitStatus == 143 ? 'retry' : 'finish' }
  maxRetries = 1
  maxErrors = '-1'
}

params {
  genomes {
    'GRCh37' {
      bwa     = '/sw/data/uppnex/igenomes/Homo_sapiens/Ensembl/GRCh37/Sequence/BWAIndex/genome.fa'
      fasta   = '/sw/data/uppnex/igenomes/Homo_sapiens/Ensembl/GRCh37/Sequence/WholeGenomeFasta'
    }
    'GRCm38' {
      bwa     = '/sw/data/uppnex/igenomes/Mus_musculus/Ensembl/GRCm38/Sequence/BWAIndex/genome.fa'
      fasta   = '/sw/data/uppnex/igenomes/Mus_musculus/Ensembl/GRCm38/Sequence/WholeGenomeFasta'
    }
    'TAIR10' {
      bwa     = '/sw/data/uppnex/igenomes/Arabidopsis_thaliana/Ensembl/TAIR10/Sequence/BWAIndex/genome.fa'
      fasta   = '/sw/data/uppnex/igenomes/Arabidopsis_thaliana/Ensembl/TAIR10/Sequence/WholeGenomeFasta'
    }
    'EB2' {
      bwa     = '/sw/data/uppnex/igenomes/Bacillus_subtilis_168/Ensembl/EB2/Sequence/BWAIndex/genome.fa'
      fasta   = '/sw/data/uppnex/igenomes/Bacillus_subtilis_168/Ensembl/EB2/Sequence/WholeGenomeFasta'
    }
    'UMD3.1' {
      bwa     = '/sw/data/uppnex/igenomes/Bos_taurus/Ensembl/UMD3.1/Sequence/BWAIndex/genome.fa'
      fasta   = '/sw/data/uppnex/igenomes/Bos_taurus/Ensembl/UMD3.1/Sequence/WholeGenomeFasta'
    }
    'WBcel235' {
      bwa     = '/sw/data/uppnex/igenomes/Caenorhabditis_elegans/Ensembl/WBcel235/Sequence/BWAIndex/genome.fa'
      fasta   = '/sw/data/uppnex/igenomes/Caenorhabditis_elegans/Ensembl/WBcel235/Sequence/WholeGenomeFasta'
    }
    'CanFam3.1' {
      bwa     = '/sw/data/uppnex/igenomes/Canis_familiaris/Ensembl/CanFam3.1/Sequence/BWAIndex/genome.fa'
      fasta   = '/sw/data/uppnex/igenomes/Canis_familiaris/Ensembl/CanFam3.1/Sequence/WholeGenomeFasta'
    }
    'GRCz10' {
      bwa     = '/sw/data/uppnex/igenomes/Danio_rerio/Ensembl/GRCz10/Sequence/BWAIndex/genome.fa'
      fasta   = '/sw/data/uppnex/igenomes/Danio_rerio/Ensembl/GRCz10/Sequence/WholeGenomeFasta'
    }
    'BDGP6' {
      bwa     = '/sw/data/uppnex/igenomes/Drosophila_melanogaster/Ensembl/BDGP6/Sequence/BWAIndex/genome.fa'
      fasta   = '/sw/data/uppnex/igenomes/Drosophila_melanogaster/Ensembl/BDGP6/Sequence/WholeGenomeFasta'
    }
    'EquCab2' {
      bwa     = '/sw/data/uppnex/igenomes/Equus_caballus/Ensembl/EquCab2/Sequence/BWAIndex/genome.fa'
      fasta   = '/sw/data/uppnex/igenomes/Equus_caballus/Ensembl/EquCab2/Sequence/WholeGenomeFasta'
    }
    'EB1' {
      bwa     = '/sw/data/uppnex/igenomes/Escherichia_coli_K_12_DH10B/Ensembl/EB1/Sequence/BWAIndex/genome.fa'
      fasta   = '/sw/data/uppnex/igenomes/Escherichia_coli_K_12_DH10B/Ensembl/EB1/Sequence/WholeGenomeFasta'
    }
    'Galgal4' {
      bwa     = '/sw/data/uppnex/igenomes/Gallus_gallus/Ensembl/Galgal4/Sequence/BWAIndex/genome.fa'
      fasta   = '/sw/data/uppnex/igenomes/Gallus_gallus/Ensembl/Galgal4/Sequence/WholeGenomeFasta'
    }
    'Gm01' {
      bwa     = '/sw/data/uppnex/igenomes/Glycine_max/Ensembl/Gm01/Sequence/BWAIndex/genome.fa'
      fasta   = '/sw/data/uppnex/igenomes/Glycine_max/Ensembl/Gm01/Sequence/WholeGenomeFasta'
    }
    'Mmul_1' {
      bwa     = '/sw/data/uppnex/igenomes/Macaca_mulatta/Ensembl/Mmul_1/Sequence/BWAIndex/genome.fa'
      fasta   = '/sw/data/uppnex/igenomes/Macaca_mulatta/Ensembl/Mmul_1/Sequence/WholeGenomeFasta'
    }
    'IRGSP-1.0' {
      bwa     = '/sw/data/uppnex/igenomes/Oryza_sativa_japonica/Ensembl/IRGSP-1.0/Sequence/BWAIndex/genome.fa'
      fasta   = '/sw/data/uppnex/igenomes/Oryza_sativa_japonica/Ensembl/IRGSP-1.0/Sequence/WholeGenomeFasta'
    }
    'CHIMP2.1.4' {
      bwa     = '/sw/data/uppnex/igenomes/Pan_troglodytes/Ensembl/CHIMP2.1.4/Sequence/BWAIndex/genome.fa'
      fasta   = '/sw/data/uppnex/igenomes/Pan_troglodytes/Ensembl/CHIMP2.1.4/Sequence/WholeGenomeFasta'
    }
    'Rnor_6.0' {
      bwa     = '/sw/data/uppnex/igenomes/Rattus_norvegicus/Ensembl/Rnor_6.0/Sequence/BWAIndex/genome.fa'
      fasta   = '/sw/data/uppnex/igenomes/Rattus_norvegicus/Ensembl/Rnor_6.0/Sequence/WholeGenomeFasta'
    }
    'R64-1-1' {
      bwa     = '/sw/data/uppnex/igenomes/Saccharomyces_cerevisiae/Ensembl/R64-1-1/Sequence/BWAIndex/genome.fa'
      fasta   = '/sw/data/uppnex/igenomes/Saccharomyces_cerevisiae/Ensembl/R64-1-1/Sequence/WholeGenomeFasta'
    }
    'EF2' {
      bwa     = '/sw/data/uppnex/igenomes/Schizosaccharomyces_pombe/Ensembl/EF2/Sequence/BWAIndex/genome.fa'
      fasta   = '/sw/data/uppnex/igenomes/Schizosaccharomyces_pombe/Ensembl/EF2/Sequence/WholeGenomeFasta'
    }
    'Sbi1' {
      bwa     = '/sw/data/uppnex/igenomes/Sorghum_bicolor/Ensembl/Sbi1/Sequence/BWAIndex/genome.fa'
      fasta   = '/sw/data/uppnex/igenomes/Sorghum_bicolor/Ensembl/Sbi1/Sequence/WholeGenomeFasta'
    }
    'Sscrofa10.2' {
      bwa     = '/sw/data/uppnex/igenomes/Sus_scrofa/Ensembl/Sscrofa10.2/Sequence/BWAIndex/genome.fa'
      fasta   = '/sw/data/uppnex/igenomes/Sus_scrofa/Ensembl/Sscrofa10.2/Sequence/WholeGenomeFasta'
    }
    'AGPv3' {
      bwa     = '/sw/data/uppnex/igenomes/Zea_mays/Ensembl/AGPv3/Sequence/BWAIndex/genome.fa'
      fasta   = '/sw/data/uppnex/igenomes/Zea_mays/Ensembl/AGPv3/Sequence/WholeGenomeFasta'
    }
  }
}
